---
import { type CollectionEntry, getCollection } from "astro:content";
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import Link from "@components/Link.astro";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

type Props = {
  post: CollectionEntry<"posts">;
};

const { post } = Astro.props;
const { Content } = await post.render();
---

<PageLayout title={post.data.title} description={post.data.description}>
  <Container>
    <article class="prose dark:prose-invert max-w-none">
      <div class="space-y-8">
        <div class="space-y-6">
         
          <div class="flex flex-wrap items-center gap-x-3 gap-y-2">
            <time datetime={post.data.date.toISOString()}>
              {post.data.date.toLocaleDateString("ru", {
                year: "numeric",
                month: "long",
                day: "numeric",
              })}
            </time>
            {post.data.source && (
              <>
                <span>/</span>
                <a 
                  href={post.data.source}
                  class="hover:text-primary"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  Source
                </a>
              </>
            )}
          </div>
        </div>

        {/* Single image */}
        {post.data.images?.length === 1 && (
          <div class="single-image my-4">
            <img 
              src={`/${post.data.images[0]}`} 
              alt={post.data.title}
              class="rounded-lg max-w-full h-auto"
            />
          </div>
        )}

        {/* Multiple images */}
        {post.data.images && post.data.images.length > 1 && (
          <div class="image-gallery my-4 grid grid-cols-2 md:grid-cols-3 gap-4">
            {post.data.images.map((image) => (
              <img 
                src={`/${image}`} 
                alt={post.data.title}
                class="rounded-lg w-full h-64 object-cover"
              />
            ))}
          </div>
        )}

        <Content />
      </div>
    </article>
  </Container>
</PageLayout>

<style>
  .image-gallery img {
    transition: transform 0.2s;
  }
  
  .image-gallery img:hover {
    transform: scale(1.05);
  }
</style>